$body-background-color: #8ccff7;
$circle-hover-color: #444;
$row-1-color: #4e89ae;
$row-2-color: #43658b;
$row-3-color: #ed6663;
$row-4-color: #ffa372;
$circle-1-width: 70px;
$circle-1-height: 70px;
$circle-2-width: 80px;
$circle-2-height: 80px;
$circle-3-width: 90px;
$circle-3-height: 90px;
$circle-4-width: 100px;
$circle-4-height: 100px;
$footer-height: 50px;

body {
  padding: 0;
  margin: 0;

  background-color: $body-background-color;
}

.flexwrapper {
  background-color: $body-background-color;
  display: flex;
  justify-content: center;
}

.gridwrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 25px);
  margin-top: 30px;
}

.circles {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#r1, #c1 {
  background-color: $row-1-color;
  color: $row-1-color;
}

#r2, #c2 {
  background-color: $row-2-color;
}

#r3, #c3 {
  background-color: $row-3-color;
}

#r4, #c4 {
  background-color: $row-4-color;
}

#c1 {
  width: $circle-1-width;
  height: $circle-1-height;
}

#c2 {
  width: $circle-2-width;
  height: $circle-2-height;
}

#c3 {
  width: $circle-3-width;
  height: $circle-3-height;
}

#c4 {
  width: $circle-4-width;
  height: $circle-4-height;
}

.circles div {
  border-radius: 50%;
  color: white;
}

header,
footer {
  background-color: $body-background-color;
  width: 100vw;
}

#r1:hover, #r2:hover, #r3:hover, #r4:hover, #c1:hover, #c2:hover, #c3:hover, #c4:hover {
  background-color: $circle-hover-color;
  color: $circle-hover-color;
}

footer {
  width: 100%;
  height: $footer-height;
}

@media (min-width: 801px) {
  .flexwrapper div {
    background-image: url(images/400.png);
    width: 400px;
    height: 400px;
  }
  .circles {
    flex-direction: row;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .flexwrapper div {
    background-image: url(images/300.png);
    width: 300px;
    height: 300px;
  }
  .circles {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .flexwrapper div {
    background-image: url(images/200.png);
    width: 200px;
    height: 200px;
  }
  .circles {
    flex-direction: column;
  }
}